/*
@bg-blur-img: "../imgs/forest_blur.jpg"; 
@bg-min-img: "../imgs/forest_min.jpg"; 
@bg-mid-img: "../imgs/forest_mid.jpg"; 
@bg-max-img: "../imgs/forest_max.jpg"; 
@bg-full-img: "../imgs/forest_full.jpg"; 
*/
.clear {
  float: none!important;
  clear: both!important;
  display: table!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.flexChild {
  flex-grow: 1;
}
.frame {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  position: relative;
  transition: background .2s, color .2s;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:hover::-webkit-slider-thumb {
  background: #7986CB;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 0;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  border: 0 solid rgba(255, 255, 255, 0.1);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #b3b3b3;
  cursor: pointer;
  transform: rotate(45deg);
  -webkit-appearance: none;
  margin-top: -2px;
  transition: transform .2s, color .2s;
}
input[type=range]::-webkit-slider-thumb:hover {
  transform: rotate(45deg) scale(1.5, 1.5);
  background: #7986CB;
  box-shadow: 2px 2px 1px rgba(119, 119, 119, 0.4), 0px 0px 2px rgba(132, 132, 132, 0.4);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px #222, 0px 0px 2px #2f2f2f;
  background: #7986CB;
  border-radius: 0;
  border: none;
}
input[type=range]::-moz-range-thumb {
  border: 0 solid rgba(255, 255, 255, 0.1);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #b3b3b3;
  cursor: pointer;
  transform: rotate(45deg);
  transition: transform .2s, color .2s;
}
input[type=range]::-moz-range-thumb:hover {
  transform: rotate(45deg) scale(1.5, 1.5);
  background: #7986CB;
  box-shadow: 2px 2px 1px rgba(119, 119, 119, 0.4), 0px 0px 2px rgba(132, 132, 132, 0.4);
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: #7986CB;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #7986CB;
  border: 0px solid #000;
  border-radius: 0;
  box-shadow: 2px 2px 2px #222, 0px 0px 2px #2f2f2f;
}
input[type=range]::-ms-fill-upper {
  background: #7986CB;
  border: 0px solid #000;
  border-radius: 0;
}
input[type=range]::-ms-thumb {
  border: 0 solid rgba(255, 255, 255, 0.1);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #b3b3b3;
  cursor: pointer;
  transform: rotate(45deg);
  transition: transform .2s, color .2s;
}
input[type=range]::-ms-thumb:hover {
  transform: rotate(45deg) scale(1.5, 1.5);
  background: #7986CB;
  box-shadow: 2px 2px 1px rgba(119, 119, 119, 0.4), 0px 0px 2px rgba(132, 132, 132, 0.4);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #eee;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  background-attachment: fixed;
  background-size: cover;
  color: #555;
  width: 100%;
  height: 100%;
  font-size: 12px;
  /*font-family: Comic Sans MS, Comic Sans MS5, cursive; /* you can delete this =) */
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
}
img {
  border: none;
}
.ButtonPlace {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.btn {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  transition: color .2s, border .2s, background .2s;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
input:focus,
.btn:focus {
  box-shadow: 0 0 3px 3px rgba(121, 134, 203, 0.3);
}
.fullWidth {
  width: 100%;
}
.PlayLists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.PlayLists .flexContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.PlayLists .Emotions {
  flex-grow: 2;
}
.PlayLists .Places {
  flex-grow: 1;
}
.PlayListGroup {
  padding: .5rem;
  margin: .1rem;
  position: relative;
  margin-top: .8rem;
  padding-top: .8rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  flex-grow: 1;
}
.PlayListGroup .PlayListGroupTitle {
  font-size: 120%;
  font-weight: bold;
  position: absolute;
  top: -0.6rem;
  left: 0;
  right: 0;
  text-align: center;
  cursor: default;
  /*/
		padding: .1rem .2rem;
		border-radius: 3px;
		background: @white;
		/**/
}
.PlayListGroup .PlayListGroupTitle .title {
  display: inline;
  padding: .1rem .2rem;
  border-radius: 3px;
  background: #fff;
}
.PlayListGroup .PlayListTag {
  flex-grow: 1;
  flex: 0 0 150px;
}
.PlayListGroup .PlayListTag .inner {
  background: rgba(255, 255, 255, 0.3);
  padding: .3rem;
  margin: .1rem;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.2s, border 0.2s, transform 0.2s, box-shadow 0.2s 0.05s;
  border: 0.2rem solid rgba(255, 255, 255, 0);
}
.PlayListGroup .PlayListTag:hover .inner {
  transform: scale(1.05);
  box-shadow: 0 5px 3px 2px rgba(0, 0, 0, 0.02), 0 0px 0px 5px rgba(121, 134, 203, 0.02);
}
.PlayListGroup .PlayListTag.active .inner {
  border-color: rgba(121, 134, 203, 0.6);
}
.PlayListGroup .PlayListTag .title {
  text-align: center;
  font-size: 130%;
  margin-bottom: 2rem;
  cursor: relative;
}
.PlayListGroup .PlayListTag .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.PlayListGroup .PlayListTag .btn {
  flex-basis: 20%;
  padding: .2rem;
}
.PlayListGroup .PlayListTag .btn.active {
  color: #7986CB;
}
.PlayListGroup .PlayListTag .settings {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  padding: .1rem;
}
.PlayListGroup .PlayListTag .s-title {
  font-weight: bold;
  font-size: 110%;
  padding: .1rem;
}
.BottomPanel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.PlayerPanel {
  background: #ffffff;
}
.PlayerPanel .PlayerTimePanel {
  width: 100%;
  margin-bottom: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.PlayerPanel .TimeLineWrapper {
  flex-grow: 1;
}
.PlayerPanel .TimeLineWrapper,
.PlayerPanel .TimeWrapper {
  padding: 0 .1rem;
}
.PlayerPanel .PlayerRulePanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  align-items: center;
}
.PlayerPanel .VolumeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.PlayerPanel .VolumeWrapper .fa {
  font-size: 110%;
  margin: .3rem;
  margin-top: 4%;
  display: block;
}
.PlayerPanel .VolumeWrapper .rangeWrapper {
  margin: .3rem;
}
.PlayerPanel .fa {
  margin-top: 1%;
}
.PlayerPanel #PlayerPlayPauseButton,
.PlayerPanel #PlayerNextTrackButton {
  padding: 1rem;
  font-size: 230%;
  color: #ccc;
}
.PlayerPanel #PlayerPlayPauseButton:hover,
.PlayerPanel #PlayerNextTrackButton:hover {
  color: #7986CB;
  border-color: #7986CB;
}
.PlayerPanel #PlayerPlayPauseButton {
  color: #b3b3b3;
  padding: 1rem 1.15rem 1rem 1.5rem ;
  margin: .1rem;
  font-size: 230%;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.PlayerPanel #PlayerNextTrackButton {
  padding: 0.8rem;
  padding: 1rem 1.1rem 1rem 1.45rem ;
  border-radius: 10% 10%;
  margin: 0.3rem;
  font-size: 230%;
}
